[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu111"
verify_ssl = true
name = "pytorch"

[packages]
numpy = "*"
jupyter = "*"
wfdb = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
scikit-image = "*"
torch = "*"
torchaudio = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
install_search_all_sources = true
